{% extends 'hod_templates/base_template.html'%} {% block page_title %}
<h5>Listado De Productos</h5>

{% endblock page_title %} {% block main_content %}
<section class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %} {% if message.tags == "error" %}
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1 " role="alert" data-brk-library="component__alert">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fa fa-times danger "></i>
                        </span>
                        <span class="sr-only">Close</span>
                    </button>
                    <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                    <strong class="font__weight-semibold">Oh snap!</strong> {{message}}
                </div>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                                              <span aria-hidden="true">
                              <i class="fa fa-times greencross"></i>
                              </a></span>
                                              <span class="sr-only">Close</span> 
                                          </button>
                <i class="start-icon far fa-check-circle faa-tada animated"></i>
                <strong class="font__weight-semibold">¡Bien hecho!</strong> {{message}}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">

            <div class="card manage sc">
                <div class="card-header">
                    <span>Listado De Productos</span>
                    <div class="card-tools d-flex">
                        <!--                
                    <div class="input-group input-group-sm" style="width: 150px;">
                       
                        <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div> -->
                        <!-- <input type="search" name="search" id="filter" class="form-control float-right" placeholder="Search"> -->


                        <a class="btn btn-sm btn-info mr-2" href="{% url 'agregar_producto'  %}"role="button">+ Agregar Nuevo Producto</a>

                    </div>

                </div>
                                                <table class="table table-bordered table-hover dataTable" id="plist">
                                                    <thead>
                                                        
                                                        <tr>
                                                            <th>Item</th>
                                                            <th>Nombre</th>
                                                            <th>Categoria</th>
                                                            <th>Imagen</th>
                                                            <th>Precio de Compra</th>
                                                            <th>Precio de Venta</th>
                                                            <th>Stock </th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    	{% for fila in tabla %}
                                                        <tr>
                                                            <td>{{ fila.id}}</td>
                                                            <td>{{ fila.descripcion }}</td>
                                                            <td>{{ fila.category }}</td>
                                                        
                                                            <td>
                                                                {% if fila.image %}
                                                                    <img src="{{ fila.image.url }}" alt="{{ fila.descripcion }}" width="20">
                                                                {% else %}
                                                                    No se ha asociado una imagen
                                                                {% endif %}
                                                            </td>
                                                             
                                                            <td>{{ fila.preciocompra }}</td>
                                                            <td>{{ fila.precioventa }}</td>
                                                            <td>{{ fila.stock}}</td>

                                                       
                                                            <td>
                                                                <a href="{% url 'editarProducto' fila.id %}" class="btn btn-sm btn-success">Edit</a> &nbsp;
                                                                <a href="{% url 'eliminarHerramienta' fila.id %} " class="btn btn-sm btn-danger">Delete</a> &nbsp;
                                                                <a href="" class="btn btn-sm btn-warning">View</a>
                                                                

                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </article>
{% endblock %}