<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link ml-2">
        <img src="{{request.user.adminhod.profile_pic.url}}" alt="" width="36" height="36" class=" img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light mt-1 ml-3 mmust">BOLTS</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mr-3">
            <div class="pull-left image sm-submenu-with-image a ml-2 ">
                <img src="{{request.user.adminhod.profile_pic.url}}" class="img-circle mt-2" width="36" height="36" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i> Online</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{% url  'admin_dashboard' %}" class="nav-link">
                        <i class="fas fa-tachometer-alt mr-2"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>


               
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-hospital-user mr-2"></i>
                        <p>
                            Clientes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'agregar_Cliente' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">Agregar Cliente</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'listar_clientes'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Listar Clientes</p>
                            </a>
                        </li>

                    </ul>
                </li>
               
                
                

               
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Reportes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'ver_reportes' %}" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">Ver Reportes</p>
                            </a>
                        </li>
                  

                    </ul>
                </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Facturacion
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'emitir_factura'  %}"class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">Agregar Facturacion</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Listar Facturacion</p>
                            </a>
                  

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Almacen
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_category'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">categoria</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'listar_herramientas'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Productos</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'listar_proveedor'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Proveedores</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'listar_pedido'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Pedidos</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Gestion De Seguridad
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_operador'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Operadores</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Conf.Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Respaldos</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Auditoria Usuario</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Cambiar Contraseña</p>
                            </a>
                        </li>
                         <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Compañia</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">acceso</p>
                            </a>
                        </li>

                    </ul>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>