{% extends 'operador_templates/base_template.html'%}
{% load static %}
{% block page_title %}
<h5>All patients</h5>

{% endblock page_title %}
{% block main_content %}
<section class="content">
    
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    <div class="row">
        
        <div class="col-md-12 px-3">
                
            <div class="card card-primar sc">
                <div class="card-header">
                    <span>Patiets Records</span>
                   <div class="card-tools d-flex">
                       
              
                <a class="btn btn-sm btn-info mr-2" href="{% url 'agregar_Cliente' %}" role="button">+ Agregar Cliente</a> 

            </div>

                </div>
                <table  class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
    
                            <th>Direccion</th>
    
                             <th>telefono</th>
                             <th class="text-center">Acciones</th>
                            

                        </tr>
                    <tbody>
                            {% for cliente in clientes %}
                            <tr class="hov"> <td>{{cliente.id}}</td>
                               
        
                                <td>{{cliente.cedula}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellido}}</td>
                                <td> {{cliente.correo}}></td>
                                <td>{{cliente.direccion}}</td>
        
                               
                                <td>{{cliente.telefono}}</td>
        
                                

                                <td><a href="{% url 'editarCliente' cliente.id %}" class="btn btn-sm btn-success">Edit</a>                     
                                    <a href="{% url 'eliminarCliente' cliente.id %}"  class="btn btn-sm btn-danger">Delete</a></<a>
                                    <a href="" class="btn btn-sm btn-warning">View</a></td> 
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}